data/genome_summary.csv
data/genomes/
data/pangenomes/*/gff_files/
data/pangenomes/*/prokka_output/
data/pangenomes/
src/__pycache__/
data/pangenomes/tools/
pangenome-repo/Pangenome-Analysis-Workflow/codes/Campylobacter_coli/Campylobacter_coli_CDS.fasta